body {
	background-color: #EEE;
}

.main_screen {
	background-color: #EEE;
	border: 1px solid #444;
	padding: 10px;
	width: 884px; /* canvas.width + 2 + x */
	height: 482px; /* canvas.height + 2 */
}

div.canvas {
	float: left;
}

canvas.canvas {
	background-color: #DDD;
	border: 1px solid #555;
}

div.control_panel_last {
	margin-bottom: 0px;
}

div.control_panel {
	float: left;
	margin-bottom: 10px;
	background-color: #E7E7E7;
	border: 1px solid #444;
	padding: 10px;
	padding-bottom: 8px;
	margin-left: 10px;
	width: 210px;
}

div.control_panel > form > div.sep {
	height: 5px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* fonts */

body {
	font-family: Verdana;
	font-size: 0.8em;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* forms */

.field_digit {
	width: 26px;
	margin-bottom: 2px;
}
